@import url(http://fonts.googleapis.com/css?family=Chango);
@font-face {
  font-family: mplus-1p-regular;
  src: url("http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-regular.ttf") format("truetype");
}

@font-face {
  font-family: mplus-1p-bold;
  src: url("http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-bold.ttf") format("truetype");
}

/* line 20, ../sass/font.scss */
body {
  font-family: mplus-1p-regular;
  color: #2c3e50;
}

/* line 26, ../sass/font.scss */
.web_tool_bar i {
  font-size: 30px;
  color: #ffffff;
}

/* line 38, ../sass/font.scss */
nav {
  display: table;
  font-size: 35px;
}
/* line 41, ../sass/font.scss */
nav .fa {
  color: white;
}
/* line 44, ../sass/font.scss */
nav .text_Icon {
  vertical-align: middle;
  font-family: mplus-1p-bold;
  color: white;
  font-size: 16px;
}

/* line 52, ../sass/font.scss */
.h2, h4, .article_category, .day_wrap, h3 {
  font-family: mplus-1p-bold;
}

/* line 57, ../sass/font.scss */
h1 {
  font-family: "Chango", cursive;
  color: #e67e22;
  font-size: 48px;
}

/* line 64, ../sass/font.scss */
#left-wrap .article_category, #left-wrap .day_wrap {
  color: white;
}

/* line 71, ../sass/font.scss */
#left-wrap article .h2 {
  font-size: 30px;
}
/* line 74, ../sass/font.scss */
#left-wrap article h4 {
  font-size: 20px;
}
/* line 77, ../sass/font.scss */
#left-wrap article i {
  color: #e67e22;
  font-size: 25px;
  margin-right: 5px;
  margin-left: 5px;
}
/* line 84, ../sass/font.scss */
#left-wrap .article_date_year {
  color: #2c3e50;
}

/* line 91, ../sass/font.scss */
#right-wrap h3 i {
  color: #27ae60;
  font-size: 20px;
}

/* line 99, ../sass/font.scss */
.last_logo {
  font-family: "Chango", cursive;
  color: #27ae60;
  font-size: 30px;
}

/* line 105, ../sass/font.scss */
footer {
  color: white;
}
