@import url(http://fonts.googleapis.com/css?family=Chango);
@font-face{
	font-family: mplus-1p-regular;
	src: url('http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-regular.ttf')
     	format("truetype");
}
@font-face{
	font-family: mplus-1p-bold;
	src: url('http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-bold.ttf')
     	format("truetype");
}

$fontChango:'Chango', cursive;
$textWhite:#ffffff;
$mplusBold:mplus-1p-bold;
$mplusRegular:mplus-1p-regular;
$color-orange:#e67e22;
$color-green:#27ae60;

body{
	font-family: mplus-1p-regular;
	color:#2c3e50;

}
.web_tool_bar{
  i{
	font-size: 30px ;
	color:#ffffff;
  }
  .facebook{

  }
  .githab{

  }
}

nav{
	display: table;
	font-size:35px;
	.fa{
		color:$textWhite;
	}
	.text_Icon{
	vertical-align: middle;
	font-family: $mplusBold;
	color:$textWhite;
	font-size:16px;
}
}

.h2,h4,.article_category,.day_wrap,h3{
  font-family:$mplusBold;
}


h1{
	font-family: $fontChango;
	color:#e67e22;
	font-size:48px;
}

#left-wrap{
  .article_category,.day_wrap{
	color:$textWhite;
  }
}

#left-wrap{
		article{
			.h2{
				font-size:30px;
			}
			h4{
				font-size: 20px;
			}
			i{
				color: $color-orange;
				font-size: 25px;
			  margin-right:5px;
			  margin-left:5px;
			}
		}
		.article_date_year{
		  color:#2c3e50;
		}
	}

#right-wrap{
  h3{
	i{
	  color: $color-green;
	  font-size: 20px;
	}
  }
}


.last_logo{
  font-family: $fontChango;
  color:$color-green;
  font-size:30px;
}

footer{
  color:$textWhite;
}


