/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="css/layout.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";
@import "compass/utilities/general/clearfix";

$color-orange:#e67e22;
$color-green:#27ae60;
$background-color:#ecf0f1;
body{
	background-color:$background-color;
}

@mixin position-center{
	margin-right:auto;
	margin-left:auto;
}

@mixin padding-top-bottom-40{
	padding-top:40px;
	padding-bottom:40px;
}
@mixin padding-left-right-40{
	padding-left:40px;
	padding-right:40px;
}
.header_belt{
	height:20px;
	width:auto;
	background-color:#2c3e50;
}

header{
	background-color:$background-color;
	height:160px;
	@include padding-top-bottom-40;
	h1{
		height:60px;
		width:300px;
		@include position-center;
	}
	nav{
		padding-top:40px;
		width:350px;
		@include position-center;
		#menu li{
			display: table-cell;
			background-color:$color-green;
			height:60px;
			width:60px;
			text-align:center;
			vertical-align:middle;
			margin-left:10px;
			float:left;
			border-radius:50px;
			.fa{
				margin-top:14px;
			}
		}
	}
}
#wrap{	
	@include clearfix;
	background-color:$background-color;
	width:960px;
	@include position-center;
	#left-wrap{
		position:relative;
		width:660px;
		float:left;
		.article_category{
		  position:absolute;
		  background-color:$color-orange;
		  display:block;
		  top:35px;
		  left:-20px;
		  height:25px;
		  width:200px;
		  text-align:right;
		  padding-top:8px;
		  padding-right:5px;
		  z-index:900;
		}
		article{
			background-color:#ffffff;
			@include padding-top-bottom-40;
			padding-top:90px;
			@include padding-left-right-40;
			margin-left:20px;
			p{
				margin-bottom:40px;
			}
			section{
				margin-top:15px;
				h4{
					margin-bottom:15px;
				}
			}
			  .article_title{
				  display: table;
				  min-height:58px;
				  border-bottom-width:1px;
				  border-style: dashed;
				  border-color: #e67e22;
				  width:560px;
				  text-align: left;
				  margin-bottom:40px;
				  .h2{
					display: table-cell;
					vertical-align: middle;
					h2{
					  width:500px;
					  margin-left:0px;
					}
				  }
				  .day_wrap{
					float:left;
					position:relative;
					width:50px;
					.article_date_triangle_month{
					  text-align: left;
					  width: 0;
					  height: 0;
					  border: 20px solid transparent;
					  border-top: 20px solid $color-orange;
					  border-left: 20px solid $color-orange;
					  @include border-radius(5px);
					  .day_triangle_month{
						  position:absolute;
						  left: 2px;
						  top:20px;
					  }
					}
					.article_date_triangle_day{
					  width: 0;
					  height: 0;
					  margin-top:-37px;
					  border: 20px solid transparent;
					  border-right: 20px solid $color-orange;
					  border-bottom: 20px solid $color-orange;
					  @include border-radius(5px);
					  .day_triangle_day{
						  position:absolute;
						  right:12px;
					  }
					}
				  }
			  }
		}

	}
	#right-wrap{
		background-color:#3498db;
		width:260px;
		@include padding-top-bottom-40;
		@include clearfix;
		padding-left:20px;
		padding-right:20px;
	}
}
